.pageContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.videoSectionWrapper {
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .videoSectionWrapper {
    padding: 0 15px;
    margin-top: 20px;
  }
}
