.container {
    width: 100%;
    height: 100%;
}

.secondaryText {
    font-size: 1.8rem;
    font-weight: lighter;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    .secondaryText {
      background-image: linear-gradient(
        to right,
        #EB3BB9,
        #EB3BB9,
        #27474E,
        #5FC2A1,
        #5FC2A1,
        #255e4b,
        #EB3BB9
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-size: var(--bg-size);
      animation: animate 10s linear infinite reverse;
    }
}
@keyframes animate {
  from {
      background-position: 0;
  }
  to {
      background-position: var(--bg-size);
  }
  }



.containerCulture {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainerCulture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 65%;
}

.headerCultureleftBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.headerCulturerightBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.firstColumn, .secondColumn {
  width: 100%;
  height: 100%;
  text-align: justify;
}


.imageInColumn {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.secondColumnUpperBox {
  width: 100%;
  height: 55%;
  text-align: justify;
  }

.upperBoxText {
  width: 100%;
  height: 100%;
}

.secondColumnBottomBox {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
  }

.textInDivideColumn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

.imageInDivideColumn {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  padding-left: 1rem;
}
.imageInColumnDivide {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.culturePartnerSection {
  width: 100%;
  height: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.culturePartnerHeader {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleCulturePartnerSection {
  font-size: 1.8rem;
}

.stickyHeader {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.staticHeader {
    font-size: 5rem;
    color: var(--color-collectif-pink);
    margin: 0;
    font-weight: normal;
}

.customGap {
  gap: 65px;
}

@media (max-width: 640px) {
    .staticHeader {
        font-size: 3rem;
    }

    .stickyHeader {
        height: 120px;
    }
}