.container{
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg1);
    position: relative;
    overflow: hidden;
}

.titleContainer {
    width: 100vw;
    height: 100vh;
    color: var(--color-text);
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.mainTextBox {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.gridText {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
 
.letter {
    font-size: 6em;
    text-align: center;
    opacity: 0; /* Empieza invisible */
    transform: translateX(-20px); /* Comienza desplazada */
    animation: fadeInLeft 0.5s forwards;
    color: var(--color-text);
}

.titleTextLastLetter {
    font-size: 6em;
    text-align: center;
    color:#00ffa6;
}
.secondaryTextBox {
    width: 100vw;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10rem;
}

.mainText {
    font-size: 20rem;
    margin: -130px auto;
    padding: 0px auto;
}

.firstText { 
    font-size: clamp(2rem, 4vw, 3.1rem);
    font-weight: var(--fw-light);
}

.secondaryText {
    font-size: clamp(2rem, 4vw, 3.1rem);
    font-weight: var(--fw-light);
}

.thirdText {
    font-size: clamp(2rem, 4vw, 3.1rem);
    font-weight: var(--fw-light);
}

.svg {
    position: absolute;;
  } 


.gradientContainer {
    width: 100%;
    height: 100%;
    filter: url(#goo) blur(20px);
    overflow: hidden;
}

.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blending);
    opacity: 1;
    transform-origin: calc(50% - 200px);
    animation: moveInCircle 5s infinite;
}

.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blending);
    opacity: 1;
    transform-origin: calc(50% + 200px);
    animation: moveInCircle 5s infinite;
}

.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 70%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 - 25rem);
    left: calc(50% - var(--circle-size) / 2 - 35%);
    mix-blend-mode: var(--blending);
    opacity: 1;
    animation: moveHorizontal 5s infinite;
}

.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 - 5rem);
    left: calc(50% - var(--circle-size) / 2 - 45%);
    mix-blend-mode: var(--blending);
    opacity: 1;
    animation: moveVertical 5s infinite;
}

.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 70%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 12rem);
    left: calc(50% - var(--circle-size) / 2 + 45%);
    mix-blend-mode: var(--blending);
    opacity: 1;
    animation: moveHorizontal 5s infinite;
}


.g6 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color6), 0) 50%) no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 25rem );
    left: calc(50% - var(--circle-size) / 2 + 35%);
    mix-blend-mode: var(--blending);
    opacity: 1;
    animation: moveVertical 5s infinite;
}

.interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.6) 0, rgba(var(--color-interactive), 0) 30%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
    z-index: 1
}


/*Colorful secondaryText Engineering*/

@supports (background-clip: text) or (-webkit-background-clip: text) {
    .secondaryText {
      background-image: linear-gradient(
        to right,
        #EB3BB9,
        #EB3BB9,
        #27474E,
        #5FC2A1,
        #5FC2A1,
        #255e4b,
        #EB3BB9
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-size: var(--bg-size);
      animation: animate 10s linear infinite reverse;
    }}

    @keyframes animate {
        /* from {
          background-position: 0;
        } */
        to {
          background-position: var(--bg-size);
        }
      }

/*Letter collectif fade in*/
/* Aplica retrasos progresivos para cada letra */
.letter:nth-child(1) { animation-delay: 1s; }
.letter:nth-child(2) { animation-delay: 1.1s; }
.letter:nth-child(3) { animation-delay: 1.2s; }
.letter:nth-child(4) { animation-delay: 1.3s; }
.letter:nth-child(5) { animation-delay: 1.4s; }
.letter:nth-child(6) { animation-delay: 1.5s; }
.letter:nth-child(7) { animation-delay: 1.6s; }
.letter:nth-child(8) { animation-delay: 1.7s; }
.fixedLetter {
  animation: none; /* No animar la última letra */
  opacity: 1;
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

/*movement of the circles g1,g2,g3,g4,g5*/

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
      }
    50% {
    transform: rotate(180deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-15%);
    }
    50% {
        transform: translateY(15%);
    }
    100% {
        transform: translateY(-15%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-10%);
    }
}

/* Tamaño pequeño (sm) */
@media (max-width: 640px) {
    .secondaryTextBox {
        height: 40%;
        margin-left: 30px;
    }
    .firstText, .secondaryText, .thirdText {
        font-size: 2rem;
    }
}

/* Tamaño mediano (md) */
@media (min-width: 641px) and (max-width: 768px) {
    .secondaryTextBox {
        height: 35%; /* Ajuste para pantallas medianas */
    }
}

/* Tamaño grande (lg) */
@media (min-width: 769px) and (max-width: 1024px) {
    .secondaryTextBox {
        height: 40%; /* Ajuste para pantallas grandes */
    }
}

/* Tamaño extra grande (xl) */
@media (min-width: 1025px) and (max-width: 1280px) {
    .secondaryTextBox {
        height: 45%; /* Ajuste para pantallas extra grandes */
    }
}

/* Tamaño 2xl */
@media (min-width: 1281px) {
    .secondaryTextBox {
        height: 50%; /* Ajuste para pantallas muy grandes */
    }
}