.slider {
    width: 100%;
    height: var(--infinit-height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.slider .list {
    width: 100%;
    min-width: calc(var(--infinit-width) * var(--quantity));
    display: flex;
    position: relative;
}

.slider .list .item {
    width: var(--infinit-width);
    height: var(--infinit-height);
    position: absolute;
    left: 100%;
    --pos: var(--position, 1);
    animation: autoRun 20s linear infinite;
    animation-delay: calc(20s / var(--quantity) * (var(--pos) - 1));
    /* transition: filter 0.5s; */
}
.slider .list .item .ImageScroll {
    width: 100%;
    height: 100%;
}

.slider:hover .item {
    animation-play-state: paused;
}

.slider[reverse="true"] .item{
    animation: reservePlay 20s linear infinite;
}

.slider[reverse="true"]:hover .item {
    animation-play-state: paused;
}

@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--infinit-width) * -1);
    }
}

@keyframes reservePlay {
    from {
        left: calc(var(--infinit-width) * -1);
    }
    to {
        left: 100%;
    }
}


.slider2 {
    width: 100%;
    height: var(--infinit-height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 5% 95%,
        transparent
    );
}

.slider2 .list2 {
    width: 100%;
    min-width: calc(var(--infinit-width) * var(--quantity2));
    display: flex;
    position: relative;
    height: var(--infinit-height);
}

.slider2 .list2 .item2 .ImageScroll {
    width: 100%;
    height: 100%;
}


.slider2 .list2 .item2 {
    width: var(--infinit-width);
    height: var(--infinit-height);
    position: absolute;
    left: 100%;
    --pos: var(--position, 0);
    animation: autoRun 20s linear reverse infinite;
    animation-delay: calc(20s / var(--quantity2) * var(--pos));
    /* transition: filter 0.5s; */
}
.slider2 .list2 .item2 .ImageScroll {
    width: 100%;
    height: 100%;
}

.slider2:hover .item2 {
    animation-play-state: paused;
}

.slider2[data-reverse="true"] .item2{
    left: calc(var(--infinit-width) * -1);
    animation: reservePlay 20s linear infinite;
    animation-delay: calc(20s / var(--spacing-quantity, 5) * var(--spacing-pos, var(--pos)));
}

.slider2[data-reverse="true"]:hover .item2 {
    animation-play-state: paused;
}

