.container {
    width: 100%;
    height: 50px;
    position: sticky;
    margin-top: -50px;
    top: 0;
    display: flex;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.70); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); /* Safari */
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

.transparent {
    background-color: rgba(255, 255, 255, 0);  /* Fondo 100% transparente */
    backdrop-filter: none; 
    -webkit-backdrop-filter: none; /* Safari */
}

/* Logo */
.logoContainer {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.logoLink {
    width: 100px; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 45px;
    height: 45px;
}

/* Contenedor de los enlaces */
.linksContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px
}

/* Sección de enlaces */
.linkSection {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Estilos de los enlaces */
.textLink { 
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-normal);
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.textLink:hover {
    color: var(--color-collectif-pink);
}

.textLinkActive {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-normal);
    text-transform: uppercase;
    color: var(--color-collectif-pink);
}

/* Primera fila de enlaces */
.firstRowLinkSection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.secondRowLinkSection {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
}

.hidden {
    display: none;
}

.menuButton {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 10px;
}

.descriptionText {
    font-size: var(--fs-body-lg);
}
.hamMenu {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamMenu span {
    width: 100%;
    height: 5px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--color-collectif-pink);
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamMenu span:nth-child(1) {
    top: 25%;
}

.hamMenu span:nth-child(3) {
    top: 75%;
}

/* Estado activo */
.hamMenu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--color-collectif-pink);
}

.hamMenu.active span:nth-child(2) {
    opacity: 0;
}

.hamMenu.active span:nth-child(3) {
    top: 50%;
    background-color: var(--color-collectif-pink);
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* --- RESPONSIVE STYLES --- */

@media (min-width: 821px) {
    .linksContainer {
        width: 100%;
    }
    .menuButton {
        display: none; /* Ocultar botón de menú */
    }
}

@media (min-width: 768px) and (max-width: 820px) {
    .logoContainer {
        display: none;
    }
    .linksContainer {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .menuButton {
        display: none;
    }
}

@media (max-width: 767px) {
    .logoContainer, 
    .linksContainer {
        display: none;
    }
    .menuButton {
        display: flex;
        width: 100%;
    }
    .container {
        background-color: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
}
