.container {
    width: 100%;
    height: 50px;
    position: sticky;
    margin-top: -50px;
    top: 0;
    display: flex;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.70); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); /* Safari */
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

.transparent {
    background-color: rgba(255, 255, 255, 0);  /* Fondo 100% transparente */
    backdrop-filter: none; 
    -webkit-backdrop-filter: none; /* Safari */
}

/* Logo */
.logoContainer {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.logoLink {
    width: 100px; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 45px;
    height: 45px;
}

/* Contenedor de los enlaces */
.linksContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px
}

/* Sección de enlaces */
.linkSection {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Estilos de los enlaces */
.textLink { 
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-normal);
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.textLink:hover {
    color: var(--color-collectif-pink);
}

.textLinkActive {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    letter-spacing: var(--ls-normal);
    text-transform: uppercase;
    color: var(--color-collectif-pink);
}

/* Primera fila de enlaces */
.firstRowLinkSection {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.secondRowLinkSection {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
}

.hidden {
    display: none;
}

.menuButton {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 10px;
}

.descriptionText {
    font-size: var(--fs-body-lg);
}
.hamMenu {
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
    gap: 5px;
    background: transparent !important;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    padding: 0 !important;
    isolation: isolate;
}

.hamMenu .hamLine {
    display: block !important;
    width: 100% !important;
    height: 5px !important;
    border-radius: 25px !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    background-color: var(--color-collectif-pink) !important;
    transform: translate(-50%, -50%) !important;
    transition: .3s ease;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
}

.hamMenu .hamLine:nth-child(1) {
    top: 25% !important;
}

.hamMenu .hamLine:nth-child(3) {
    top: 75% !important;
}

/* Estado activo */
.hamMenu.active .hamLine:nth-child(1) {
    top: 50% !important;
    transform: translate(-50%, -50%) rotate(45deg) !important;
    background-color: var(--color-collectif-pink) !important;
}

.hamMenu.active .hamLine:nth-child(2) {
    opacity: 0 !important;
}

.hamMenu.active .hamLine:nth-child(3) {
    top: 50% !important;
    background-color: var(--color-collectif-pink) !important;
    transform: translate(-50%, -50%) rotate(-45deg) !important;
}


/* --- RESPONSIVE STYLES --- */

@media (min-width: 821px) {
    .linksContainer {
        width: 100%;
    }
    .menuButton {
        display: none; /* Ocultar botón de menú */
    }
}

@media (min-width: 768px) and (max-width: 820px) {
    .logoContainer {
        display: none;
    }
    .linksContainer {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .menuButton {
        display: none;
    }
}

@media (max-width: 767px) {
    .logoContainer, 
    .linksContainer {
        display: none;
    }
    .menuButton {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .container {
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}
