.showMore {
  font-size: var(--fs-body);
  font-weight: var(--fw-light);
  letter-spacing: var(--ls-normal);
  color: var(--color-secondary-text);
  transition: color 0.3s ease;
}

.showMore:hover {
  color: var(--color-collectif-pink);
}