.heroContainer {
    width: 100%;
    height: 100%; /* Asegura que el Hero tenga la altura completa de la ventana */
    position: sticky;
    top: 0;
    z-index: 1;
}

.section1 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    border-radius: var(--radius-xl) var(--radius-xl) 0px 0px;
    z-index: 2;
}


.section2
 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    z-index: 2;
}


.section3
 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    z-index: 2;
}

.section4
 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    z-index: 2;
}