.container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    height: var(--infinity-scroll-height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 30% 90%,
        transparent
    );
}

.slider .list {
    width: 100%;
    height: var(--infinity-scroll-height);
    min-width: calc(var(--infinity-scroll-width) * var(--quantity-items));
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.slider .list .item{
    width: var(--infinity-scroll-width);
    height: var(--infinity-scroll-height);
    left: 100%;
    position: absolute;
    animation: autoRun 10s linear infinite;
    animation-delay: calc((10s / var(--quantity-items)) * (var(--position) - 1));
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .list .item p {
    width: 100%;
    font-size: var(--fs-display);
    color: var(--color-collectif-pink);
}

@keyframes autoRun {
    from {
        left: 100%
    }
    to {
        left :calc(var(--infinity-scroll-width) * -1)
    }
}