.container {
    width: 100%;
    height: 100%;
}

.stickyHeader {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.staticHeader {
    font-size: var(--fs-display);
    color: var(--color-collectif-pink);
    margin: 0;
    font-weight: var(--fw-regular);
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 4rem 0;
}

.widgetContainer {
    width: 90%;
    max-width: 1400px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 640px) {
    .staticHeader {
        font-size: 3rem;
    }

    .stickyHeader {
        height: 120px;
    }

    .widgetContainer {
        width: 95%;
    }
}
