.container {
  width: 100%;
  height: 65vh;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-xl);
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.fullImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 40, 131, 0.25);
  z-index: 2;
}

.backgroundSectionImage {
  width: 100%;
  height: 100%;
  top: 20%;
  position: absolute;
  z-index: 3;
  pointer-events: none;
  opacity: 0.25;
}

.overlayText {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  color: white;
  font-size: var(--fs-display);
  font-weight: var(--fw-bold);
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.85);
}


@media screen and (max-width: 768px) {
  .overlayText {
    font-size: 3rem;
    padding-top: 20px;
  }
  
}