.container {
    width: 100%;
    height: 100%;
    background-color: var(--color-main-background);
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

.titleSection {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.mainTextSection {
    font-size: var(--fs-display);
}

.line {
    border-top: 2px solid var(--color-border);
  }

.stepContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.textStepTitle {
    font-size: var(--fs-body);
    color: var(--color-secondary-text);
}

.texTitle {
    font-size: var(--fs-h3);
    font-weight: var(--fw-semibold);
}

@media (max-width: 820px) {
    .mainTextSection {
        font-size: 3.5rem;
    }
}
@media (max-width: 480px) {
    .mainTextSection {
        font-size: 2.5rem;
    }
}